.footer {
  background: #120f01;
  padding: 131px 0 49px;
}

.footer__container {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 60px;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.05em;
  color: #f8f8f8;
}

.footer__info-link {
  display: flex;
  flex-direction: column;
  /* gap: 17px; */
  margin-bottom: 17px;
}

.phone-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--yellow);
}

.email-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--yellow);
  opacity: 0.5;
}

.footer__sociale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  padding-left: 61px;
}
